---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #228B22;

$grey-color:      #228B22;
$grey-color-light: lighten($grey-color, 55%);
$grey-color-dark:  darken($grey-color, 10%);

$code-background-color: lighten($grey-color, 65%);;

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.highlight {
    color: $text-color;
    text-decoration: underline;
    border: 1px solid $grey-color-dark;
    border-radius: 3px;
    background-color: $code-background-color;
    padding: 1px 5px;
}

time {
    display: inline-block;
    text-align: right;
    width: 5em;
}

#connections-right {
    width: 40%;
    float:right;
    @include media-query($on-palm) {
            width: 100%;
            float: none;
    }
}

.archive-list {
    margin-left: 0;
}

.course-list li img,
.project-list li img {
    float:right;
    max-height: 145px;
    max-width: 100px;
}

// Float tags to the right on the archive page
// Don't display them on palm devices
.archive-tags {
    width: 25%;
    float: right;
    text-align: right;
    /*
    border: 1px solid $grey-color;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 5px #888888;
    */
    @include media-query($on-palm) {
            display: none;
    }
}

.archive-list li {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 6em;
    text-indent: -6em;
}

