---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #000000;
$background-color: #ffffff;
$brand-color:      #228B22;

$grey-color:      #228B22;
$grey-color-light: lighten($grey-color, 55%);
$grey-color-dark:  darken($grey-color, 10%);

$code-background-color: #DDFDEEEE;

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.active {
    text-decoration: underline;
}

.page-content p a {
    text-decoration: underline;
}

pre.highlight {
    color: $text-color;
    border: 1px solid lighten($grey-color-dark, 5%);
    border-radius: 3px;
    background-color: $code-background-color;
    padding: 1px 5px;
}


.highlight {
    color: $text-color;
    border: 1px solid lighten($grey-color-dark, 5%);
    border-radius: 3px;
    background-color: $code-background-color;
    padding: 1px 5px;
}

time {
    display: inline-block;
    text-align: right;
    width: 5em;
}

#connections-right {
    width: 40%;
    float:right;
    @include media-query($on-palm) {
            width: 100%;
            float: none;
    }
}

.archive-list {
    margin-left: 0;
}

.post-list li img,
.course-list li img,
.project-list li img {
    float:right;
    max-height: 6em;
    max-width: 100px;
    padding-left: 10px;
}

// Float tags to the right on the archive page
// Don't display them on palm devices
.archive-tags {
    width: 25%;
    float: right;
    text-align: right;

    @include media-query($on-palm) {
            display: none;
    }
}

.archive-list li {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 6em;
    text-indent: -6em;
}

.post-list > li {
    border-bottom: 2px solid $brand-color;
    margin-bottom: 1em;
    min-height: 7em;
}

.excerpt {
    margin-bottom: 1em;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;    
}

.center img {
    padding-left: 10px;
    padding-right: 10px;
}


#paginator {
    width: 80%;
}

#paginator strong {
    background-color: $grey-color;
}

#app-store {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    text-align: center;
}

#app-store img {
    height: 50px;
}

.gallery-wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
    overflow: hidden;
    height: 70vh; 
}
  
.gallery {
    overflow: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
  
.gallery__img {
    scroll-snap-align: start;
    margin-bottom: 10px;
    min-height: 100vh;
    object-fit: cover;
}

.gallery-nav {
    overflow-y: scroll;
    overflow-x: hidden;
}
  
.gallery-nav a {
    // height: 200px;
    display: flex;
    margin-bottom: 10px;
}
  
.gallery-nav__img {
    min-width: 64px;
    min-height: 128px;

    object-fit: cover;
    filter: saturate(0.33);
    transition: 0.3s ease all;
}
  
.gallery-nav__img:hover {
    transform: scale(1.10);
    filter: saturate(1);
}