---
layout: page
title: Archive
permalink: /archive/
---
<div class="home">
    <div class="archive-tags">
        <!-- Tag cloud -->
        <h2>Tags</h2>{% assign post_count = site.posts | size | times: 100 %}
        <p>
        {% for tag in site.tags %}{% assign t = tag | first %}{% assign posts = tag | last %}
            {% assign fontsize = posts | size | times:5 | plus:80 %}
            <a onClick="handleSelection(this, 'tags', '{{tag|first}}')"
                class="tag"
                style="font-size:{{fontsize}}%;">
                {{t | downcase | replace:" ","-" }}</a>
        {% endfor %}
        </p>

        <!-- Category cloud -->
        <h2>Categories</h2>{% assign post_count = site.posts | size | times: 100 %}
        <p>
        {% for cat in site.categories %}{% assign c = cat | first %}{% assign posts = cat | last %}
            {% assign fontsize = posts | size | times:5 | plus:80 %}
            <a onClick="handleSelection(this, 'categories', '{{cat|first}}')"
                class="category"
                style="font-size:{{fontsize}}%;">
                {{c | downcase | replace:" ","-" }}</a>
        {% endfor %}
        </p>
    </div>

    {%for post in site.posts %}
        {% if post.next == nil %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            <div id="year{{year}}">
            <h2>{{ year }}</h2>
            <ul class="archive-list current">
        {% else %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
            {% if year != nyear %}
                </ul>
                </div>
                <div id="year{{year}}">
                <h2>{{ year }}</h2>
                <ul class="archive-list past">
            {% endif %}
        {% endif %}

        <li><time>{{ post.date | date:"%d %b" }}</time>
             <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a>
            <span class="post-meta tags" style="display: none;">
                {{ post.tags | array_to_sentence_string }}
            </span>
            <span class="post-meta categories" style="display: none;">
                {{ post.categories | array_to_sentence_string }}
            </span>
        </li>
    {% endfor %}
    </ul>
    </div>
</div>

<script>
/*
Filters the article list based on tag passed as query string to page.
TODO: Should also highlight the tag in the tag cloud. And have a way to clear selection.
*/
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}


function handleSelection(element, type, tag) {
    console.log("handleSelection(" + element + ", " + type + ", " + tag + ")");

    if (isHighlighted(element)) {
        clearHighlight();
        clearArchiveFilter();
    } else {
        clearHighlight();
        addHighlight(element);
        filterArchiveByTag(type, tag);
    }
}

function isHighlighted(element) {
    return element.className.indexOf("highlight") > -1;
}

function clearHighlight() {
    console.log('clearHighlight()');
    
    // clear previous selections
    var elements = document.querySelectorAll('.tag, .category');
    for (var i=0; i<elements.length; i++) {
        elements[i].className = elements[i].className.replace("highlight", "");
    }
}

function addHighlight(element) {    
    console.log('addHighlight(' + element + ')');
    
    // highlght current selection
    element.className = element.className + " highlight";
}

function clearArchiveFilter() {
    console.log('clearArchiveFilter()');
    
    var years = document.querySelectorAll('div[id^=year]');
    for (var y=0; y<years.length; y++) {        // for each year/div
        var items = years[y].getElementsByTagName('li');
        for (var i=0; i<items.length; i++) {    // for each list item
            items[i].style.display = 'list-item';   // show the list item
        }
        
        years[y].style.display = 'block';       // show the year
    }
}

function filterArchiveByTag(searchClass, searchTag) {
    console.log('filterArchiveByTag(' + searchClass + ', ' + searchTag + ')');
    
    var filterSelector = 'span[class*="' + searchClass + '"]';
    
    var years = document.querySelectorAll('div[id^=year]');
    for (var y=0; y<years.length; y++) {        // for each year/div
        var hiddenCount = 0;                    // number of elements hidden
        var items = years[y].getElementsByTagName('li');
        for (var i=0; i<items.length; i++) {    // for each list item
            var span = items[i].querySelectorAll(filterSelector)[0].childNodes[0];
            if (span.nodeValue.indexOf(searchTag) > -1) {
                items[i].style.display = 'list-item';
            } else {
                items[i].style.display = 'none';
                hiddenCount++;
            }
        }

        // hide outer div if all items hidden
        // show if any items are visible (not hidden)
        if (hiddenCount == items.length) {
            years[y].style.display = 'none';
        } else {
            years[y].style.display = 'block';
        }
    }
}
</script>
