---
layout: page
title: Courses
permalink: /courses/
---
<div class="home">
    <ul class="post-list course-list">
    {% for page in site.posts %}
            {% if page.archive != true and page.layout == 'course' %}
                {% capture page_updated %}{% if page.date != null %}{{ page.date }}{% else %}{{ site.time }}{% endif %}{% endcapture %}
                <li><a href="{{ page.url | prepend:site.baseurl }}">
{% capture thumbnail %}{% if page.thumbnail contains 'http' %}{{ page.thumbnail }}{% else %}{{ page.thumbnail | prepend:site.asseturl }}{% endif %}{% endcapture %}
                    <img src="{%include asset.inc%}{{thumbnail}}"/><h1>{{page.title}}</h1></a>
                    <div class="excerpt">
                      {{ page.content | split:site.excerpt_separator | first | remove:'<p>' | remove:'</p>' }}
                    </div>
                </li>
            {% endif %}
    {% endfor %}
    </ul>

    <h2>Course Archive</h2>
    <ul class="archive-list">
    {% for page in site.posts | sort_by: "date" %}
            {% if page.archive == true and page.layout == 'course' %}
                {% capture page_updated %}{% if page.date != null %}{{ page.date }}{% else %}{{ site.time }}{% endif %}{% endcapture %}
                <li><time>{{ page_updated | date: '%b %Y' }}</time> • <a href="{{ page.url | prepend:site.baseurl }}">{{page.title}}</a></li>
            {% endif %}
    {% endfor %}
    </ul>
</div>
