---
layout: page
title: Projects
permalink: /projects/
---
<!--
<script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.2.2/masonry.pkgd.min.js"></script>

<style>
.grid-sizer {
	width: 31%;
}

.item {
	border: 2px solid green;
	border-radius: 5px;
 	box-shadow: 5px 5px 5px #888888;
 	width: 29%;
 	margin-bottom: 10px;
 	padding: 5px;
}
.item.w2 { width: 50%; }
</style>

<div class="archive-list js-masonry"
    data-masonry-options='{ "columnWidth": ".grid-sizer", "itemSelector": ".item", "gutter": 10 }'>
    <div class="grid-sizer"></div>
    {% for page in site.pages | sort_by: "date" %}
            {% if page.archive == true and page.layout == 'project' %}
                {% capture page_updated %}{% if page.date != null %}{{ page.date }}{% else %}{{ site.time }}{% endif %}{% endcapture %}
                {% capture page_icon %}{% if page.icon contains 'http' %}{{ page.icon }}{% else %}{{ site.baseurl }}/{{ page.path | split: '/' | first }}/{{ page.icon }}{% endif %}{% endcapture %}
                
                <div class="item">
                <a href="{{ site.baseurl }}{{ page.url }}">
                    <img style="display: block; max-height: 100px;" src="{{ page_icon }}"/>
                    <h1>{{page.title}}</h1>
                </a>
                    <div class="excerpt">
                      {{ page.content | split:site.excerpt_separator | first | remove:'<p>' | remove:'</p>' }}
                    </div>
                </div>
            {% endif %}
    {% endfor %}
</div>
-->

<div class="home">
	<ul class="post-list">
    {% for page in site.posts %}
            {% if page.archive != true and page.layout == 'project' %}
                {% capture page_updated %}{% if page.date != null %}{{ page.date }}{% else %}{{ site.time }}{% endif %}{% endcapture %}
                <li><a href="{{ site.baseurl }}{{ page.url }}">
{% capture thumbnail %}{% if page.thumbnail contains 'http' %}{{ page.thumbnail }}{% else %}{{ site.baseurl }}/assets/{{ page.thumbnail }}{% endif %}{% endcapture %}
                    <img style="float:right; max-height: 100px;" src="{{ thumbnail }}"/>
                    <h1>{{page.title}}</h1>
                    </a>
                    <div class="excerpt">
                      {{ page.content | split:site.excerpt_separator | first | remove:'<p>' | remove:'</p>' }}
                    </div>
                </li>
            {% endif %}
    {% endfor %}
    </ul>
    
    <h2>Project Archive</h2>    
	<ul class="archive-list">
    {% for page in site.pages | sort_by: "date" %}
            {% if page.archive == true and page.layout == 'project' %}
                {% capture page_updated %}{% if page.date != null %}{{ page.date }}{% else %}{{ site.time }}{% endif %}{% endcapture %}
                <li>{{ page_updated | date: '%b %Y' }} • <a href="{{ site.baseurl }}{{ page.url }}">{{page.title}}</a></li>
            {% endif %}
    {% endfor %}
    </ul>
</div>