<style>
html, body{
  min-height: 100%;
}
body{
  position: relative;
}
/* overlay styles, all needed */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

/* just some content with arbitrary styles for explanation purposes */
.modal {
    width: 50%;
    position: fixed;
    top: 10%;
    left: 50%;
    padding: 20px;
    margin-left: -25%;
    background-color: #c4f1c4;
    border-radius: 10px;
    border: 4px solid #108010;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
}

</style>
<script>
function hideOverlay() {
    document.getElementById("overlay").style.display = 'none';
}
</script>
<div id="overlay" class="overlay">
<div class="modal">
	<h1>Stephen Houser Has Moved!</h1>
	<h2><a href="http://stephenhouser.com{{ page.url }}">StephenHouser.com</a></h2>
	<p>The content here will not be updated any longer. Please follow the link above
	to this page's new location to get the most up-to-date information.</p>
	<a href="#" onClick="hideOverlay();">Ignore and Continue</a>
    </label>
</div>
</div>
