<style type="text/css">
 div#banner {
   position: absolute;
   top: 0;
   left: 0;
   background-color: #DDEEEE;
   width: 100%;
 }
 div#banner-content {
   width: 100%;
   margin: -10 auto;
   padding: 10px;
   border: 1px solid #000;
 }

 body {
   padding-top: 130px;
}
</style>
<div id="banner">
	<div id="banner-content">
		<h2>Stephen's site has moved to
		<a href="http://stephenhouser.com{{ page.url }}">http://StephenHouser.com</a></h2>
		<p><strong>August 26, 2015</strong> -- The content here will not be updated any longer. Please follow the link above
		to this page's new location to get the most up-to-date information.</p>
	</div>
</div>
