<div id="app-store">
	<a href="https://pmwht.org"><img src="/assets/projects/pmwht/icon-76@2x.png" alt="Portland Women's History Trail">
	<p>Visit the trail on the web</p></a>

	<a href="https://itunes.apple.com/us/app/portland-womens-history-trail/id984535668?mt=8"><img alt="Available on the App Store" src='{{"/projects/download-on-the-app-store.png"|prepend:site.assetsurl}}' /></a>
	<a href='https://play.google.com/store/apps/details?id=com.maker9.pmwht'><img alt='Get it on Google Play' src=' {{"/projects/google-play-badge.png"|prepend:site.assetsurl}}'/></a>
</div>    